/**
 * All of the CSS for your admin-specific functionality should be
 * included in this file.
 */

.shq__admin-heading {
  color: rgb(189, 76, 76);
}

.shc__btn {
  margin-top: 0.9rem;
  padding: 0.5rem 2rem;
  background-color: rgb(189, 76, 76);
  color: white;
  font: bold 1rem sans-serif;
  border: none;
  -webkit-box-shadow: 0px 5px 8px -4px #572121, 2px 2px 15px 0 #572121;
  box-shadow: 0px 5px 8px -4px #572121, 2px 2px 15px 0 #572121;
  letter-spacing: 2px;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 5px;
}

.shc__btn:hover {
  background-color: rgb(211, 122, 122);
}

.shc-card--admin {
  width: 230px;
  padding: 20px;
  margin: 20px 0 0 0;
  background-color: #fff;
  border-radius: 10px;
  transform: translateY(0);
  -webkit-box-shadow: 0px 0px 25px 0px #8c8c8c;
  box-shadow: 0px 0px 25px 0px #8c8c8c;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
  -moz-transition: transform 0.5s ease-out;
  -o-transition: transform 0.5s ease-out;
}

.shc-card--admin:hover {
  transform: translateY(20px);
}

.shc-card--admin img {
  width: 100%;
  border-radius: 10px;
}

.shc-stats-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5px 10px;
}

.shc-stat-container {
  display: flex;
  justify-content: space-between;
}

.shc__hero-name {
  text-align: center;
  font-size: 1rem;
  text-transform: uppercase;
  margin: 2px 0 10px;
  font-weight: 900;
  letter-spacing: 2px;
}
